<head>
	<meta charset="UTF-8">

        <title>Logo</title>
        <style>
	    h1 {
	        font-family: Do Hyeon, sans-serif;
	    }
	    h2 {
	        font-family: Press Start 2P, cursive;
	    }
	    h3 {
	        font-family: Do Hyeon, sans-serif;
	    }
	    </style>
	    <link rel="stylesheet" href="{{url_for('static',filename='css/XD.css')}}">
</head>
<h1>Hi game is over</h1>
<br> <a href="http://127.0.0.1:5000/game"><h1>Home</h1></a>

<div id='line'></div>
<img src={{ url_for('static', filename='27.jpg') }} height="300"></img>
<br>Winner: {{ winner }}

<br>sublime text 3: {{ player_choice }}

<br>visual studio: {{ bot }}



<div id="line"></div>
<h3>Sponsered by potato pc</h3>