<!DOCTYPE HTML>

<html>

    <head>

        <meta charset="UTF-8">

        <title>Logo</title>
        <style>
	    h1 {
	        font-family: Do Hyeon, sans-serif;
	    }
	    h2 {
	        font-family: Press Start 2P, cursive;
	    }
	    h3 {
	        font-family: Do Hyeon, sans-serif;
	    }
	    </style>
	    <link rel="stylesheet" href="{{url_for('static',filename='css/XD.css')}}">
</head>
<body>
	<h1><p align="center">Game start</h1></p>
	<div id="line"></div>
	<h3>To start game you need write 127.0.0.1:5000/game/'your choice'
		<br> You can see what you can choose from image</h3>
	<img src={{ url_for('static', filename='12.jpg') }} height="300"></img>
	<div id="line"></div>
	<h3>Sponsered by potato pc</h3>

</body>

</html>