<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Rules</title>
	<style>
	    h1 {
	        font-family: Do Hyeon, sans-serif;
	    }
	    h2 {
	        font-family: Press Start 2P, cursive;
	    }
	    h3 {
	        font-family: Do Hyeon, sans-serif;
	    }
	</style>
	<link rel="stylesheet" href="{{url_for('static',filename='css/XD.css')}}">
</head>
<body>
	<p align="center"><h1>Rules</h1></p>
	<br><h3>
			<a href="http://127.0.0.1:5000/list">
				List of players
			</a>
		</h3>
	<br><h3>
			<a href="http://127.0.0.1:5000/">
				How to start
			</a>
		</h3>
	
	<div id="line"></div>
	<img src={{ url_for('static', filename='Wallpaper 3.jpg') }}>
	
	<div id="line"></div>
	
	<h3>This is rules how to play in rock, paper, scisors, lizrard, spok</h3>
	<p align="center"><img src={{ url_for('static', filename='1.png') }} height="300"></p>
	
	<div id="line"></div>
	<h3>Sponsered by potato pc</h3>
</body>
</html>