<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Satrt</title>
	<style>
	    h1 {
	        font-family: Do Hyeon, sans-serif;
	    }
	    h2 {
	        font-family: Press Start 2P, cursive;
	    }
	    h3 {
	        font-family: Do Hyeon, sans-serif;
	    }
	</style>
	<link rel="stylesheet" href="{{url_for('static',filename='css/XD.css')}}">
</head>

<body>
	    <h3><a href="http://127.0.0.1:5000/rules">
			Rules
		</a>
		</h3>
{% for user in scoreboard %}
<li>{{user.name}}:<b>{{user.score}}</b></li> 
{% endfor %}
	<img src={{ url_for('static', filename="wallpaper_1.jpg")}}>
	<div id="line"></div>
	<h3>Sponsered by potato pc</h3>
</body>
</html>