<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Rock,paper,scissors</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/css_home.css')}}">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="https://i.ytimg.com/vi/Jxbu80okI_U/maxresdefault.jpg" type="image/png">
</head>

<body>
  <header>
    <ul>
      <li><a href="{{ url_for('help') }}">Help</a></li>
      <li><a href="{{ url_for('game') }}">Game</a></li>
    </ul>
  </header>
  <img src="https://miro.medium.com/max/1000/1*8du96SQUQ0NlWmWvVu20Zw.png" alt="">
  <div id="line"></div>
  <img src="https://images.pushsquare.com/d567d236c9b8b/cyberpunk-2077-ps4.original.jpg" alt="">
  <div id="line"></div>
  <footer>
    <ul>
      <li>Produced by Matsenko Volodimyr</li>
    </ul>
  </footer>
</body>

</html>